/.bundle/
/.yardoc
/_yardoc/
/coverage/
/pkg/
/spec/reports/
.bundle
tmp/*
.tool-versions
vendor

# rspec failure tracking
.vscode
.idea
*.gem
.rspec_status
.byebug_history
tmp.json
gl-container-scanning-report.json
