/.bundle/
/.yardoc
/_yardoc/
/coverage/
/pkg/
/spec/reports/
/spec/schemas/
.bundle
tmp/*
.tool-versions
vendor
.DS_Store

# rspec failure tracking
.vscode
.idea
*.gem
.rspec_status
.byebug_history
tmp.json
gl-container-scanning-report.json
gl-dependency-scanning-report.json
rspec.xml
